<form [formGroup]="formGroup" class="form-control">
  <h3 class="text-center">Iteração Linear</h3>
  <div class="row">
    <div class="col-8">
      <span> Insira uma equação  </span>
    </div>
  </div>
  <div class="row">
  
    <div class="col-1">
      <select formControlName="sinal" class="form-control">
        <option value="+">+</option>
        <option value="-">-</option>
      </select>
    </div>
  
    <div class="col-1">
      <select formControlName="variavel" class="form-control">
        <option value="0" >0</option>
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>
  
    <div class="col-1">
      <select formControlName="x" class="form-control">
        <option value="x">X</option>
      </select>
    </div>
  
    <div class="col-1">
      <select formControlName="expo" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  
    <div class="col-1">
      <select formControlName="sinal2" class="form-control">
        <option value="+">+</option>
        <option value="-">-</option>
      </select>
    </div>
  
    <div class="col-1">
      <select formControlName="variavel2" class="form-control">
        <option value="0" >0</option>
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>
  
    <div class="col-1">
      <select formControlName="x2" class="form-control">
        <option value="x">X</option>
      </select>
  </div>
  
  <div class="col-1">
    <select formControlName="expo2" class="form-control">
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  
  <div class="col-1">
    <select formControlName="sinal3" class="form-control">
      <option value="+">+</option>
      <option value="-">-</option>
    </select>
  </div>
  
  <div class="col-1">
    <select formControlName="variavel3" class="form-control">
      <option value="0" >0</option>
      <option value="1" selected>1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
  </div>
  </div>
  <br/>
  <div class="row">
      <div class="col-4 text-center">
          <label >Quais os valores de x ?</label>
      </div>
  </div>
  <div class="row">
    <div class="col-4">
      <input class="form-control" formControlName="intervalo" type="number" placeholder="X inicio">
    </div>
    <div class="col-4">
      <input class="form-control" formControlName="intervalo2" type="number" placeholder=" X">
    </div>
  </div>
  <br/>
  <div class="row">
    <button (click)="calcular()" [disabled]="formGroup.invalid" class="btn bg-dark text-white form-control">Calcular</button>
  </div>
  <div class="table-resposive">
  <table class="table">
    <thead>
      <tr>
        <th>k</th>
        <th>x</th>
        <th>f(x)</th>
        <th>f(xk+1)</th>
        <th>erro</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of objectTable">
          <td>{{table.k}}</td>
          <td>{{table.x}}</td>
          <td>{{table.fx}}</td>
          <td>{{table.fxk1}}</td>
          <td>{{table.error}}</td>
        </tr>
      </tbody>
  </table>
  </div>
  
  </form>