<header class="bg-dark" >
  <div class="text-center text-white">
    <h3>Calculo númerico e simbolico</h3>
  </div>
</header>
<body>

 <div class="container-fluid">
        <tabset>
          <tab heading="Conversor" id="tab1"><app-conversao></app-conversao></tab>
          <tab heading="Bisecção Prova"><app-biseccao></app-biseccao></tab>
          <tab heading="Bisecção"><app-biseccao-loca></app-biseccao-loca></tab>
          <tab heading="Lineares">Lineares</tab>
          <tab heading="Newton Raphson"><app-newton-raphson></app-newton-raphson></tab>
        </tabset>
 </div>
 <br/>
</body>
<footer class="bg-dark">
  <div class="text-left text-white">
    <span>Calculo númerico e simbolico</span>
  </div>
  <div class="text-right text-white">
    <i class="fa fa-copyright" aria-hidden="true">Desenvolvido: Alik Oliveira Rodrigues</i>
  </div>
</footer>
